In [164]:
from fileopener import import_data_csv_to_pandas, import_data_excel_to_pandas, dataframe_creator
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import csv

In [165]:
url1csv = "https://www.data.gouv.fr/fr/datasets/r/6fadff46-9efd-4c53-942a-54aca783c30c"
url2csv = "https://www.data.gouv.fr/fr/datasets/r/eceb9fb4-3ebc-4da3-828d-f5939712600a"
url3csv = "https://www.data.gouv.fr/fr/datasets/r/426bab53-e3f5-4c6a-9d54-dba4442b3dbc"
url1xlsx = "https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c04_isd_esperance_de_vie_xlsx/"
url2xlsx = "https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c03_isd_taux_de_mortalite_xlsx/"
url3xlsx = "https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c10_isd_disparite_des_niveaux_de_vie_xlsx/"
url4xlsx = "https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c08_isd_intensite_de_la_pauvrete_monetaire_xlsx/"
url5xlsx = "https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c02_isd_indice_de_vieillissement_xlsx/"
url6xlsx = "https://data.drees.solidarites-sante.gouv.fr/api/datasets/1.0/601_indicateurs-de-contexte/attachments/c01_isd_population_selon_age_xlsx/"
url7xlsx = "https://www.data.gouv.fr/fr/datasets/r/98f3161f-79ff-4f16-8f6a-6d571a80fea2"

In [166]:
df1 = pd.read_csv(url1csv, sep=";", encoding="latin1")
print(
    df1.sample(5),
    df1.size
)

      dep        jour  incid_hosp  incid_rea  incid_dc  incid_rad
45468  41  2020-04-28           2          0         4          9
2039   02  2022-10-06          13          1         0          4
33487  30  2020-11-21           7          2         6         11
68080  61  2021-07-24           0          0         0          1
81149  73  2020-12-09          23          1         4         30 678096

In [167]:
"""lire ce document pour pouvoir l'utiliser et le merge aux autres"""
df6xlsx = pd.read_excel(url6xlsx, skiprows=4, header=[1])

In [168]:
df6xlsx.head(5)

,Unnamed: 0,Unnamed: 1,Moins de 20 ans,Moins de 25 ans,25 à 64 ans,65 ans ou plus,75 ans ou plus,80 ans ou plus,85 ans ou plus,Unnamed: 9,Moins de 20 ans.1,Moins de 25 ans.1,25 à 64 ans.1,65 ans ou plus.1,75 ans ou plus.1,80 ans ou plus.1,85 ans ou plus.1,Unnamed: 17
0,01,Ain,171336.0,203449.0,344459.0,131590.0,61926.0,35163.0,18688.0,679498.0,25.215085,29.941074,50.693159,19.365767,9.113493,5.174850,2.750266,1
1,02,Aisne,125708.0,152860.0,251931.0,116841.0,53128.0,29580.0,16774.0,521632.0,24.098982,29.304184,48.296692,22.399124,10.184958,5.670664,3.215677,2
2,03,Allier,66246.0,81986.0,152745.0,97977.0,49747.0,29925.0,17424.0,332708.0,19.911153,24.642028,45.909626,29.448345,14.952150,8.994373,5.237025,3
3,04,Alpes-de-Haute-Provence,33920.0,40903.0,80162.0,47096.0,23412.0,13630.0,7259.0,168161.0,20.171146,24.323714,47.669793,28.006494,13.922372,8.105328,4.316696,4
4,05,Hautes-Alpes,27874.0,33506.0,68377.0,39778.0,19651.0,11323.0,6406.0,141661.0,19.676552,23.652240,48.268048,28.079711,13.871849,7.993026,4.522063,5

In [169]:
""" On rennome les colonnes"""
df6xlsx.rename(columns = {"Unnamed: 0" : "num_dep", "Unnamed: 1" : "nom_dep", "Unnamed: 9" : "pop_totale"}, inplace=True)

In [170]:
""" On regarde la proportion de valeur manquante"""
df6xlsx.isna().mean()

num_dep              0.068376
nom_dep              0.034188
Moins de 20 ans      0.034188
Moins de 25 ans      0.034188
25 à 64 ans          0.034188
65 ans ou plus       0.034188
75 ans ou plus       0.034188
80 ans ou plus       0.034188
85 ans ou plus       0.034188
pop_totale           0.034188
Moins de 20 ans.1    0.034188
Moins de 25 ans.1    0.034188
25 à 64 ans.1        0.034188
65 ans ou plus.1     0.034188
75 ans ou plus.1     0.034188
80 ans ou plus.1     0.034188
85 ans ou plus.1     0.034188
Unnamed: 17          0.034188
dtype: float64

In [171]:
"""On remplace les colonnes de type int ou float manquantes par la médiane"""

for col in df6xlsx.select_dtypes(["int64", "float64"]).columns :
    df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)

/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)
/tmp/ipykernel_141928/374190284.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df6xlsx[col].fillna(df6xlsx[col].median(), inplace=True)

In [172]:
""" On observe qu'à partir de la ligne 106, ça n'a plus d'întérêt donc on supprime """
df6xlsx.loc[df6xlsx["num_dep"].isna() | (df6xlsx["num_dep"] == 0)]

,num_dep,nom_dep,Moins de 20 ans,Moins de 25 ans,25 à 64 ans,65 ans ou plus,75 ans ou plus,80 ans ou plus,85 ans ou plus,pop_totale,Moins de 20 ans.1,Moins de 25 ans.1,25 à 64 ans.1,65 ans ou plus.1,75 ans ou plus.1,80 ans ou plus.1,85 ans ou plus.1,Unnamed: 17
106,NaN,Q1,66246.0,81986.0,133162.0,71977.0,35293.0,21159.0,11868.0,295729.0,20.626635,25.364263,47.234675,21.351943,9.929206,5.683226,3.215677,99A
107,NaN,Médiane,120702.0,152860.0,255016.0,123256.0,57354.0,32933.0,18665.0,524109.0,22.099861,27.348275,48.249475,23.720325,11.603386,6.804620,3.794967,99B
108,NaN,Q3,207821.0,256077.0,447653.0,193308.0,93222.0,54304.0,30484.0,866490.0,23.984235,29.594788,49.521771,27.114013,13.337269,7.732346,4.387659,99C
109,NaN,D9/D1,9.7,9.9,8.7,6.0,6.0,6.0,5.9,8.2,1.300000,1.300000,1.100000,1.600000,1.700000,1.800000,1.800000,99D
110,NaN,Min,15351.0,18944.0,36569.0,8447.0,2783.0,1345.0,564.0,76647.0,17.868419,21.857224,37.138557,2.632276,0.867246,0.419132,0.175755,99E
111,NaN,Max,657701.0,836768.0,1287136.0,490430.0,229417.0,136112.0,73389.0,2614334.0,53.778891,60.229167,55.752770,32.286126,15.913661,9.617666,5.677203,99F
112,NaN,Etendue,642350.0,817824.0,1250567.0,481983.0,226634.0,134767.0,72825.0,2537687.0,35.910473,38.371943,18.614213,29.653850,15.046415,9.198534,5.501448,99G
113,NaN,NaN,125708.0,153459.0,255122.0,123558.0,58124.0,33138.0,18688.0,537752.0,22.213455,27.642042,48.258049,23.574867,11.550002,6.762906,3.708273,NaN

In [173]:
df6xlsx.drop(df6xlsx.index[105::], inplace=True)
df6xlsx

,num_dep,nom_dep,Moins de 20 ans,Moins de 25 ans,25 à 64 ans,65 ans ou plus,75 ans ou plus,80 ans ou plus,85 ans ou plus,pop_totale,Moins de 20 ans.1,Moins de 25 ans.1,25 à 64 ans.1,65 ans ou plus.1,75 ans ou plus.1,80 ans ou plus.1,85 ans ou plus.1,Unnamed: 17
0,01,Ain,171336.0,203449.0,344459.0,131590.0,61926.0,35163.0,18688.0,679498.0,25.215085,29.941074,50.693159,19.365767,9.113493,5.174850,2.750266,1
1,02,Aisne,125708.0,152860.0,251931.0,116841.0,53128.0,29580.0,16774.0,521632.0,24.098982,29.304184,48.296692,22.399124,10.184958,5.670664,3.215677,2
2,03,Allier,66246.0,81986.0,152745.0,97977.0,49747.0,29925.0,17424.0,332708.0,19.911153,24.642028,45.909626,29.448345,14.952150,8.994373,5.237025,3
3,04,Alpes-de-Haute-Provence,33920.0,40903.0,80162.0,47096.0,23412.0,13630.0,7259.0,168161.0,20.171146,24.323714,47.669793,28.006494,13.922372,8.105328,4.316696,4
4,05,Hautes-Alpes,27874.0,33506.0,68377.0,39778.0,19651.0,11323.0,6406.0,141661.0,19.676552,23.652240,48.268048,28.079711,13.871849,7.993026,4.522063,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,971,Guadeloupe,86261.0,104657.0,187390.0,86514.0,37793.0,21365.0,10744.0,378561.0,22.786552,27.646007,49.500609,22.853384,9.983332,5.643740,2.838116,971
101,972,Martinique,72668.0,88351.0,175911.0,85663.0,37561.0,22132.0,11464.0,349925.0,20.766736,25.248553,50.271058,24.480389,10.734014,6.324784,3.276131,972
102,973,Guyane,120085.0,141371.0,133162.0,20852.0,7239.0,3651.0,1500.0,295385.0,40.653723,47.859912,45.080827,7.059262,2.450700,1.236014,0.507812,973
103,974,La Réunion,254322.0,303725.0,449405.0,132570.0,51907.0,28649.0,13464.0,885700.0,28.714237,34.292085,50.740093,14.967822,5.860562,3.234617,1.520154,974
104,976,Mayotte,172577.0,193276.0,119178.0,8447.0,2783.0,1345.0,564.0,320901.0,53.778891,60.229167,37.138557,2.632276,0.867246,0.419132,0.175755,976

In [186]:
"""et on vire les indications inutiles"""
row_to_drop = df6xlsx.loc[(df6xlsx["num_dep"]=="P")|(df6xlsx["num_dep"]=="M")].index

df6xlsx.drop(row_to_drop, inplace=True)
df6xlsx.isna().mean()

num_dep              0.0
nom_dep              0.0
Moins de 20 ans      0.0
Moins de 25 ans      0.0
25 à 64 ans          0.0
65 ans ou plus       0.0
75 ans ou plus       0.0
80 ans ou plus       0.0
85 ans ou plus       0.0
pop_totale           0.0
Moins de 20 ans.1    0.0
Moins de 25 ans.1    0.0
25 à 64 ans.1        0.0
65 ans ou plus.1     0.0
75 ans ou plus.1     0.0
80 ans ou plus.1     0.0
85 ans ou plus.1     0.0
Unnamed: 17          0.0
dtype: float64